body{
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    background-color: #8cc6da;
}
#page{
    background-color: #f2f5f8;
    padding: 0;
}
a{
    text-decoration: none;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}
a:hover{
    text-decoration: none;
    color: #24aa98;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}
#header{
    padding: 0 15px;
    height: 75px;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    border-bottom: 2px solid #c6ccd2;
}
#header .row{
    margin: 0;
}
#menu{
    padding: 0;
}
#menu .nav ul{
    float: left;

    padding-top: 25px;
}
.selected-menu a{
    color: #24aa98 !important;
}
.user-menu{
    background-color: #ffffff;
    border-radius: 25px;
    float: right;
    padding: 0px 25px;
    margin-right: 60px;
    margin-top: 15px;
    padding-right: 0;
}
.user-name{
    float: left;
    padding-top: 10px;
}
.user-img{
    float: right;
}
#dropdownMenu1{
    background-color: white;
    border: 0;
    border-radius: inherit;
}
ul.dropdown-menu{
    padding: 0;
}
li.user-menu-item{
    background-color: #24aa98;
    border-bottom: 1px solid #239c8c;
}
li.user-menu-item a{
    color: #ffffff;
}
li.user-menu-item:hover{
    background-color: #8cc6da;
}
.dropdown-menu>li.user-menu-item>a:focus, .dropdown-menu>li.user-menu-item>a:hover{
    background-color: #8cc6da;
    background-image: none;
}

#content{
    height: 570px;
}
#content .row{
    margin: 0;
}
#steps{
    margin-top: 30px;
    padding: 0 60px;
}
.step{
    padding: 0;
}
.number{
    border-radius: 50%;
    background-color: #fbfcfd;
    width: 40px;
    height: 40px;
    padding-top: 8px;
    text-align: center;
    border: 2px #e4e8ec solid;
    position: relative;
    z-index: 3;
}
.step:last-child .number{
    float: right;
}
.step:nth-child(2) .number{
    margin-left: 25%;
}
.step:nth-child(3) .number{
    margin-left: 60%;
}
.step:first-child .number:after{
    content: "";
    height: 2px;
    width: 100%;
    background-color: #66c2b7;
}
.step.active .number{
    background-color: #66c2b7;
    border-color: #66c2b7;
    color: #ffffff;
}
.step .line{
    height: 2px;
    width: 100%;
    background-color: #e4e8ec;
    position: absolute;
    top: 50%;
    z-index: 1;
	
}

#file-url{
    margin-top: 30px;
    margin-left: 30px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}
.btn-primary{
    background-color: #ffffff;
}
.avatar-image{
    width: 38px;
    height: 38px;
}
#browse, #url{
    margin-top: 30px;
    margin-left: 30px;
}
.not-selected{
    color: #737373;
    font-weight: bold;
    margin-top: 10px;
}
#execut{
    margin-top: 30px;
    margin-left: 45px;
    margin-bottom:30px;
    float: left;
}
#output{
    margin-top: 30px;
    margin-left: 45px;
}
#output textarea.form-control{
    width: 800px;
}
#footer{
    background-color: #383737;
    height: 75px;
}
#footer ul {
    margin-top: 30px;
}
#footer ul a{
    color: #ffffff;
}
#footer .rights{
    color: #838282;
    margin-top: 30px;
    float: right;
    margin-right: 10px;
}

.CSSTableGenerator {
	margin:0px;padding:0px;
	width:90%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid  #66c2b7;
	
	-moz-border-radius-bottomleft:14px;
	-webkit-border-bottom-left-radius:14px;
	border-bottom-left-radius:14px;
	
	-moz-border-radius-bottomright:14px;
	-webkit-border-bottom-right-radius:14px;
	border-bottom-right-radius:14px;
	
	-moz-border-radius-topright:14px;
	-webkit-border-top-right-radius:14px;
	border-top-right-radius:14px;
	
	-moz-border-radius-topleft:14px;
	-webkit-border-top-left-radius:14px;
	border-top-left-radius:14px;
}
.CSSTableGenerator table{
    border-collapse: collapse;
    border-spacing: 0;
	width:75%;
	height:50%;
	position:absolute;top:220px;left:170px;
}
.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:14px;
	-webkit-border-bottom-right-radius:14px;
	border-bottom-right-radius:14px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:14px;
	-webkit-border-top-left-radius:14px;
	border-top-left-radius:14px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:14px;
	-webkit-border-top-right-radius:14px;
	border-top-right-radius:14px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:14px;
	-webkit-border-bottom-left-radius:14px;
	border-bottom-left-radius:14px;
}
.CSSTableGenerator tr:hover td{
	background-color:#f2f5f8;
		

}
.CSSTableGenerator td{
	vertical-align:middle;
	
	background-color:#ffffff;

	border:1px solid  #66c2b7;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:7px;
	font-size:10px;
	 font-family: 'Montserrat', sans-serif;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff5656", endColorstr="#ff5656");	background: -o-linear-gradient(top,#ff5656,ff5656);
	background-color: #66c2b7;
	border:0px solid  #66c2b7;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	 font-family: 'Montserrat', sans-serif;
	font-weight:bold;
	color:#000000;
}
.CSSTableGenerator tr:first-child:hover td{
	
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff5656", endColorstr="#ff5656");	background: -o-linear-gradient(top,#ff5656,ff5656);

	background-color:#f2f5f8 solid;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
	width:25px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}